@import url('https://fonts.googleapis.com/css?family=Roboto|Satisfy');

/*font-family: 'Satisfy', cursive;*/


/*font-family: 'Roboto',sans-serif;*/

section.first-panel,
body>footer {
  background-color: #3388d0;
  padding-bottom: 20px;
}

nav {
  min-height: 100px;
}

.satisfy {
  font-family: 'Satisfy', cursive;
}

nav a.navbar-brand {
  font-size: 32px!important;
  font-family: 'Satisfy', cursive;
}

div.jumbotron {
  position: relative;
  background-color: inherit;
  z-index: 10;
  margin: 0;
}

div.wrapper>p.lead {
  margin-top: 100px;
  color: #cccccc;
}

div.wrapper>blockquote.blockquote {
  margin-top: 50px
}

div.wrapper>blockquote.blockquote a,
body>footer a {
  color: #FFCE54!important
}

.link-colour {
  color: #FFCE54 !important;
}

div.wrapper>blockquote.blockquote footer.blockquote-footer {
  font-size: 20px;
  color: #cccccc;
}

.blockquote-footer p {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

div.wrapper .container {
  margin-top: 50px
}

div.wrapper .container a.call_to_action {
  padding: 15px 25px;
  background-color: white;
  color: #494DA1 !important;
  font-weight: bold;
  border-radius: 3px;
  display: inline-block;
}

div.wrapper .container a:hover {
  cursor: pointer
}

div.wrapper .container .lead {
  color: #F5F7FA
}

section.second-panel h1 {
  margin-bottom: 0px !important;
}

section.second-panel .icon-wrapper {
  display: inline-block;
  background-color: #494DA1;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

section.second-panel .oi {
  font-size: 40px;
  display: inline-block;
  margin-bottom: 40px;
}

section.second-panel .oi[data-glyph="copywriting"] {
  color: #FFCE54;
}

section.second-panel .oi[data-glyph="cloud"] {
  color: #4FC1E9;
}

section.second-panel .oi[data-glyph="transfer"] {
  color: #ED5565;
}

section .oi:first-child {
  margin-top:40px;
  margin-bottom: 10px;
}

section:not(.first-panel),
body>footer {
  color: #555;
  padding-top: 100px;
  padding-bottom: 100px;
}

section:not(.first-panel) h1,
body>footer h1 {
  margin-bottom: 50px;
  color: #333;
}

section:not(.first-panel) h3,
body>footer h3 {
  margin-bottom: 30px;
}

div > img {
	max-width: 80% !important;
}

html {
  font-size: .7rem;
}

@media (min-width:768px) {
  html {
    font-size: .8rem;
  }
}

@media (min-width:992px) {
  html {
    font-size: .9rem;
  }
}

@media (min-width:1200px) {
  html {
    font-size: 1rem;
  }
}